<p id="notice"><%= notice %></p>

<h1> My wishlist </h1>

 <% @user.wishlists.all.each do |x| %>
 	<%= image_tag (x.avatar) %> <br>
 	<%= x.name %>  <br>
 	<%= x.description %> 
 <%end%>



<%= link_to 'Edit Profile', edit_user_path(@user) %> <br>
<%= link_to 'Create Wishlist', new_wishlist_path(@user) %><br>
Purchase History <br>

<%= link_to 'Back', users_path %><br>


