<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_user_path(current_user) %> |
<%= link_to 'Back', users_path %>

<h1> My wishlist </h1>


<% if current_user.wishlists %>
  <% current_user.wishlists.all.each do |x| %>
 	<%= image_tag (x.avatar) %> <br>
 	<%= x.name %>  <br>
 	<%= x.description %> 
  <%end%>
<% end %>



<%= link_to 'Edit Profile', edit_user_path(current_user) %> <br>
<%= link_to 'Create Wishlist', new_wishlist_path(current_user) %><br>
Purchase History <br>

<%= link_to 'Back', users_path %><br>

