<p id="notice"><%= notice %></p>

<!-- <% @user.wishlist.all.each do |x| %>

 	<% x.name %>  


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


%= @categories.name %><br>
<% @categories.products.all.each do |x| %>
	<%= x.name %><br>
	<%= x.description %><br>
	<%= image_tag (x.avatars[0]) %><br><br>
<% end %>