<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">Sportify</a>
            </div>
            <div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                        <button type="submit" class="btn btn-primary btn-m page-scroll">Submit</button>
                </form>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <%if signed_in? %>
                    <li><a href="/users/<%=current_user.id%>" class="page-scroll">Welcome <%=current_user.name%></a></li>
                    <li><a class="page-scroll"><%=link_to 'Sign out', destroy_user_session_path, method: :delete %></a></li>
                    <% else %>
                    <li>
                        <a class="page-scroll"><%=link_to "Sign up", new_user_registration_path %></a>
                    </li>
                    <li>
                        <a class="page-scroll" ><%=link_to "Login", new_user_session_path %></a>
                    </li>
                    <%end%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <hr>
                    <div class="carousel">
                      <img src="https://s-media-cache-ak0.pinimg.com/564x/8d/31/f2/8d31f2962f40be91b68ef9f06fd151f4.jpg" alt="Image 1" />
                      <img src="https://s-media-cache-ak0.pinimg.com/564x/8d/31/f2/8d31f2962f40be91b68ef9f06fd151f4.jpg" alt="Image 2" />
                      <img src="https://s-media-cache-ak0.pinimg.com/564x/8d/31/f2/8d31f2962f40be91b68ef9f06fd151f4.jpg" alt="Image 3" />
                      <img src="https://s-media-cache-ak0.pinimg.com/564x/8d/31/f2/8d31f2962f40be91b68ef9f06fd151f4.jpg" alt="Image 4" />
                      <img src="https://s-media-cache-ak0.pinimg.com/564x/8d/31/f2/8d31f2962f40be91b68ef9f06fd151f4.jpg" alt="Image 5" />
                    </div>
                <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- <h2 class="section-heading">We've got what you need!</h2> -->
         <!--            <a class="btn-5" href="#">Slice</a> -->

                <a href="/categories" class="btn" id="custom" style="text-decoration: none;">SEE ALL CATEGORIES</a>
                    <hr class="light">
                <a href="/deals" class="btn" id="custom" style="text-decoration: none;">SEE ALL DEALS</a>

                </div>
            </div>
        </div>
    </section>



    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How our site works!</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Buy Buy Buy!</h3>
                        <p class="text-muted">Give us all your money!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Wishlist</h3>
                        <p class="text-muted">You can bla bla bla.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Cheap!</h3>
                        <p class="text-muted">We get our stuff in bulk from manufacturers.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Wait until you're old!</h3>
                        <p class="text-muted">Need to wait for the votes.lulz</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
    <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">

                    <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="https://scontent-kul1-1.xx.fbcdn.net/v/t1.0-9/14184500_104493910006450_3337933644488767981_n.jpg?oh=a3c4dcb95d68c7532c789697303aa26a&oe=583E2685" class="img-responsive" alt="">

                    <a href="/categories/yoga" class="portfolio-box">
                        <img src="http://stayingintouch.com.au/wp-content/uploads/2014/10/Volcano.jpg" class="img-responsive" alt="">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    <% @first = Category.first %>
                                    <% if @first.present? %>
                                        <%= @first.name %>
                                    <% else %>
                                        <p> No Category </p>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">

                    <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img src="https://scontent-kul1-1.xx.fbcdn.net/v/t1.0-9/14184500_104493910006450_3337933644488767981_n.jpg?oh=a3c4dcb95d68c7532c789697303aa26a&oe=583E2685" class="img-responsive" alt="">

                    <a href="/categories/KungFu" class="portfolio-box">
                        <img src="http://stayingintouch.com.au/wp-content/uploads/2014/10/Volcano.jpg" class="img-responsive" alt="">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    <% @second = Category.second %>
                                    <% if @second.present? %>
                                        <%= @second.name %>
                                    <% else %>
                                        <p> No Category </p>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">

                    <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="https://scontent-kul1-1.xx.fbcdn.net/v/t1.0-9/14184500_104493910006450_3337933644488767981_n.jpg?oh=a3c4dcb95d68c7532c789697303aa26a&oe=583E2685" class="img-responsive" alt="">

                    <a href="/categories/cycling" class="portfolio-box">
                        <img src="http://stayingintouch.com.au/wp-content/uploads/2014/10/Volcano.jpg" class="img-responsive" alt="">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    <% @third = Category.third %>
                                    <% if @third.present? %>
                                        <%= @third.name %>
                                    <% else %>
                                        <p> No Category </p>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">

                    <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="https://scontent-kul1-1.xx.fbcdn.net/v/t1.0-9/14184500_104493910006450_3337933644488767981_n.jpg?oh=a3c4dcb95d68c7532c789697303aa26a&oe=583E2685" class="img-responsive" alt="">

                    <a href="/categories/basketball" class="portfolio-box">
                        <img src="http://stayingintouch.com.au/wp-content/uploads/2014/10/Volcano.jpg" class="img-responsive" alt="">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    <% @fourth = Category.fourth %>
                                    <% if @fourth.present? %>
                                        <%= @fourth.name %>
                                    <% else %>
                                        <p> No Category </p>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">

                    <a href="img/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <img src="https://scontent-kul1-1.xx.fbcdn.net/v/t1.0-9/14184500_104493910006450_3337933644488767981_n.jpg?oh=a3c4dcb95d68c7532c789697303aa26a&oe=583E2685" class="img-responsive" alt="">

                    <a href="/categories/badminton" class="portfolio-box">
                        <img src="http://stayingintouch.com.au/wp-content/uploads/2014/10/Volcano.jpg" class="img-responsive" alt="">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    <% @fifth = Category.fifth %>
                                    <% if @fifth.present? %>
                                        <%= @fifth.name %>
                                    <% else %>
                                        <p> No Category </p>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">

                    <a href="img/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <img src="https://scontent-kul1-1.xx.fbcdn.net/v/t1.0-9/14184500_104493910006450_3337933644488767981_n.jpg?oh=a3c4dcb95d68c7532c789697303aa26a&oe=583E2685" class="img-responsive" alt="">

                    <a href="/categories/soccer" class="portfolio-box">
                        <img src="http://stayingintouch.com.au/wp-content/uploads/2014/10/Volcano.jpg" class="img-responsive" alt="">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    <% @sixth = Category.last %>
                                    <% if @sixth.present? && @sixth.name != @first.name %>
                                        <%= @sixth.name %>
                                    <% else %>
                                        <p> No Category </p>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>
</body>


<% if current_user %>
    <%= current_user.name %>
<% end%>


Top Picks

<%= Product.order(:vote_count).limit(10) %>

