<a href="/admin">Admin Page</a><br>

<%= @products.name %><br>
<%= @products.description %><br>
<%= button_to "Edit Product", edit_category_product_path, :method => :get %>
<%= button_to "Delete", category_product_path(:category, @products), :method => :delete %>

<%= button_to "Create a Post", new_category_product_post_path(:category, @products), :method => :get %>