<br>
<div>
<%= form_for(@wishlist) do |f| %> 
  <div >
 

    <%= f.label :name %>
    <%= f.text_field :name%><br><br>

    <%= f.label :description %>
    <%= f.text_field :description%>

 <%= f.file_field :avatar %>

  </div><br>


  <div >
    <%= f.submit %>
  </div>
<% end %>
</div>

