<div style= "padding-top: 50px;">
<h2 >Wish list</h2>
<table>
	<tr>
		<th>Title</th>
		<th>User email</th>
	</tr>
	<% @wishlists.each do |t| %> 
	<tr>
		<td><%= t.name %></td>
		<td><%= t.user.email if t.user %></td>
		<td><%= link_to "View wishlist", wishlist_path(t.id) %><br></td>
	</tr>
	<% end %>
</table>
</div>


<h3><%= link_to "Create new wishlist", new_wishlist_path(@wishlist) %></h3>
<%= link_to "Home", root_path %> 