<<<<<<< HEAD
<div style= "padding-top: 50px;">
<h2 >Wish list</h2>
=======

<h2>Wish list</h2>



>>>>>>> master
<table>
	<tr>
		<th>Title</th>
		<th>User email</th>
	</tr>
	<% @wishlists.each do |t| %> 
	<tr>
		<td><%= image_tag t.avatar (:medium) %></td>
		<td><%= t.name %></td>
		<td><%= t.user.email if t.user %></td>
		<td><%= link_to "View", wishlist_path(t.id) %><br></td>
	</tr>
	<% end %>
</table>
</div>

<h3>Don't see what you're looking for?</h3>
<h3><%= link_to "Make a wish!", new_wishlist_path(@wishlist), style: 'color:gray'%> </h3>
<%= link_to "Home", root_path,  style: 'color:gray' %> 
