
<!-- post -->
<div class= "centering">
	<% if @wishlists.present? %>
		<% @wishlists.each do |x| %>
			 <%= link_to wishlist_path(current_user) do %>
						<figure class="snip1423"><%= image_tag x.avatar %>
							  <figcaption>
					  			<h3><%= x.name %><h3>
					  			<p><%= x.description %></p>
					  			<div class="price">
					  			<s><%=x.votes.count%></s>
					  				
			  					</div>
			  				</figcaption><i class="ion-android-cart"></i>
						</figure>

			<%end%>
		<% end %>
	<% else %>
		<p>There aren't any deals. Please create a post in the admin page, dear coders.</p>
	<% end %>

	<a href="/wishlists/new">
		<figure class="snip1423">
			<%= image_tag('plus.jpg') %>
			 	<figcaption>
					<br><br>
					<h3>Create New Wishlist</h3>
					<div class="price">
					
						
					</div>
				</figcaption><i class="ion-android-cart"></i>

		</figure>
	</a>
			


</div>

        


