<!DOCTYPE html>
<html>
<head>
  <title>Sportify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.css" rel="stylesheet">

    <!-- Devise CSS -->
    <link href="css/devise.css" rel="stylesheet">

    <!-- footer -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</head>
  <body id="page-top" style= "padding-top: 90px;" >

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top effect-shadow " style="background-color:white;" >
        <div class="container-fluid border-bottom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" style="color:gray;" href="/">Sportify</a>
            </div>
            <div>
      
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <%if signed_in? %>
                    <li><a class="page-scroll" style="color:gray;"> Welcome <%=current_user.email%></li>
                    <li><a class="page-scroll"><%=link_to 'Sign out', destroy_user_session_path, style: 'color:gray;' , method: :delete %></li>
                    <% else %>
                    <li>
                        <a class="page-scroll"><%=link_to "Sign up", new_user_registration_path %></a>
                    </li>
                    <li>
                        <a class="page-scroll" ><%=link_to "Login", new_user_session_path %></a>
                    </li>
                    <%end%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>


    <nav2 id="navbar">
      <ul>
        <% if current_user %>
          <li><%= link_to "DEALS", user_posts_path(current_user.id) %></li>
        <% end %>
        <li><%= link_to "WISHLISTS", wishlists_path %></li>
      </ul>
    </nav2>

        <!-- /.container-fluid -->
  </nav>






 

<%= yield %>










<footer>
    <div>
        <ul class="nav">
            <li><a href="#fake">Home</a> </li>
            <li>|</li>
            <li><a href="#fake">Tickets</a> </li>
            <li>|</li>
            <li><a href="#fake">Recent Action </a> </li>
            <li>|</li>
            <li><a href="#fake">About  </a> </li>
            <li>|</li>
            <li><a href="#fake">contact us</a> </li>
        </ul>

        <div class="bottom-nav">
          <ul class="nav">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
          </ul>
          <div class="copy"> Copyrights @Sportify Limited </div>
        </div>
    </div>
      
</footer>
</body>
</html>
